@using MSI.CCAT.Data.Models
@model MSI.CCAT.Data.Models.pageMenuGroup
@{
    ViewBag.Title = @Model.name;}

<div id="workspaceContainer">
    <div id="defaultPageContainer">
        <table>
            <tr>
                <td><span class="title">@Model.name</span><br /><br /><br /><span class="subTitle">Reporting and resolution</span></td>
                <td class="icon">
                    <img src="@Model.iconPath" />
                <td>
            </tr>
            <tr>
                <td colspan="2" class="description">@Model.description</td>
            </tr>
        </table>
    </div>
</div>
