<div id="reportsdiv" class="container">

       
	
	 <div class="row">

         <div class="col-title"><span>My Performance Reports</span></div>
	     <div style="margin:5px">@Html.ActionLink("Opportunities Closed Won Month-to-Date and Year-to-Date", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - My Progress_WithPara" }, new { target = "_blank" })</div>
        
      
      
	
	
      </div>


</div>