<div id="reportsdiv" class="container">

     <div class="row">

         <div class="col-title"><span>Sandler Rules: 49 Timeless Selling Principles and How to Apply Them</span></div>

	

      <!-- The following inside the comments is the original line that works -->
<!--		 <div style="margin:5px"><a href="https://www.youtube.com/watch?v=Vfyt3p43EQw&list=PL5E016C9746DA0AB1&index=3" target="_blank">Rule #2: Don't Spill Your Candy in the Lobby</a></div>  -->
   
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=oa0S2iLUcJk&list=PL5E016C9746DA0AB1&index=2" target="_blank">Rule #1: Don't Answers questions they don't ask</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Vfyt3p43EQw&list=PL5E016C9746DA0AB1&index=3" target="_blank">Rule #2: Don't Spill Your Candy in the Lobby</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=3hbXdbQfqMc&list=PL5E016C9746DA0AB1&index=4" target="_blank">Rule #3: No Mutual Mystification</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=uxMYWrN_Wto&list=PL5E016C9746DA0AB1&index=6" target="_blank">Rule #4: A Decision Not to Make a Decision is a Decision </div></TD>
		 <TD><div style="margin:5px"><a hrref "https://www.youtube.com/watch?v=v96prX7_1ho&index=7&list=PL5E016C9746DA0AB1" target="_blank">Rule #5: Never Answer an Unasked Question</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=5cv-HfoyUvc&index=9&list=PL5E016C9746DA0AB1" target="_blank">Rule #6: Don't Buy Back Tomorrow What You Sold Today</div></TD> 
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=550nUorNRoM&index=10&list=PL5E016C9746DA0AB1" target="_blank">Rule #7: You Don't Have to Like Prospecting</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=byWn5EHtk6g&index=11&list=PL5E016C9746DA0AB1" target="_blank">Rule #8: When Prospecting, Go for the Appointment</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Jg6LLLLOwMo&index=13&list=PL5E016C9746DA0AB1" target="_blank">Rule #9: Unsuccessful Prospecting Calls Earn Compound Interest</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=BCSQzJKhZxA&index=14&list=PL5E016C9746DA0AB1" target="_blank">Rule #10: Develop a Prospecting Awareness</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=fJ_e0e5BnL4&index=15&list=PL5E016C9746DA0AB1" target="_blank">Rule #11: Money Does Grow on Trees</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Y5DZitVKAmw&index=17&list=PL5E016C9746DA0AB1" target="_blank">Rule #12: Answer Every Question with a Question</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Q6k1PdDEhTw&index=18&list=PL5E016C9746DA0AB1" target="_blank">Rule #13: No Mind Reading</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=r4KxGLBA9H4&index=20&list=PL5E016C9746DA0AB1" target="_blank">Rule #14: A Prospect Who is Listening is No Prospect at All</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=lC38y2FUvLg&index=23&list=PL5E016C9746DA0AB1" target="_blank">Rule #15: The Best Presentation is the One the Prospect Never Sees</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=HXAPLAPTYjc&index=25&list=PL5E016C9746DA0AB1" target="_blank">Rule #16: Never Ask for the Order</div></TD>
		 <TD><div style="margin:5px"><a href="" target="_blank">Rule #17: The Professional Does What He Did As A Dummy- On Purpose: <b>No Video Has Been Made</b></div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=bsMbCdgeDxw&index=26&list=PL5E016C9746DA0AB1" target="_blank">Rule #18: Don't Paint "Seagulls" In Your Prospect's Picture</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=pOmA6xZSY7A&index=27&list=PL5E016C9746DA0AB1" target="_blank">Rule #19: Never Help The Prospect End The Interview</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=X9HvgU_7Vq0&index=28&list=PL5E016C9746DA0AB1" target="_blank">Rule #20: The Bottom Line of Professional Selling Is Going To The Bank</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=DeDpscZ6-_k&index=29&list=PL5E016C9746DA0AB1" target="_blank">Rule #21: Sell Today, Educate Tomorrow</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=pq8NH2zIS2E&index=31&list=PL5E016C9746DA0AB1" target="_blank">Rule #22: Only Give A Presentation For The Kill</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=gLGzRKmkfys&index=32&list=PL5E016C9746DA0AB1" target="_blank">Rule #23: The Way To Get Rid Of A Bomb Is To Defuse It Before It Blows Up</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=X0c4mKoebyM&index=34&list=PL5E016C9746DA0AB1" target="_blank">Rule #24: Product Knowledge Used At The Wrong Time Can Be Intimidating</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=dBSIwjAQpgY&index=36&list=PL5E016C9746DA0AB1" target="_blank">Rule #25: When You Want To Know The Future, Bring It Back To The Present</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=USJeWxWrccc&index=37&list=PL5E016C9746DA0AB1" target="_blank">Rule #26: People Buy In Spite Of The Hard Sell, Not Because Of It</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=4tkMahoaZfI&index=38&list=PL5E016C9746DA0AB1" target="_blank">Rule #27: You Can't Sell Anybody Anything - They Must Discover They Want It</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=wkf-Yskr-xc&index=39&list=PL5E016C9746DA0AB1" target="_blank">Rule #28: When Under Attack - Fall Back</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=0TgUOF-BN_Y&index=40&list=PL5E016C9746DA0AB1" target="_blank">Rule #29: Your Meter's Always Running</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=kyhSA3Ttin0&index=42&list=PL5E016C9746DA0AB1" target="_blank">Rule #30: You Can't Lose Anything You Don't Have</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=RT2ekKOEuLE&index=43&list=PL5E016C9746DA0AB1" target="_blank">Rule #31: Close The Sale Or Close The File</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=NX7ChnP0gXU&index=45&list=PL5E016C9746DA0AB1" target="_blank">Rule #32: Get An I.O.U. For Everything You Do</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=LUVST78eK5k&index=47&list=PL5E016C9746DA0AB1" target="_blank">Rule #33: On Your Way To The Bank, Keep One Eye Over Your Shoulder</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=H1sghBh0JoU&index=48&list=PL5E016C9746DA0AB1" target="_blank">Rule #34: Work Smart, Not Hard</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=P_yKHXGoSMM&index=49&list=PL5E016C9746DA0AB1" target="_blank">Rule #35: If Your Competition Does It, Stop Doing It Right Away</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Ur65bmGUgcM&index=51&list=PL5E016C9746DA0AB1" target="_blank">Rule #36: Only Decision Makers Can Get Others To Make Decisions</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=3Yltkk95Er0&index=53&list=PL5E016C9746DA0AB1" target="_blank">Rule #37: All Prospects Lie, All The Time </div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Gp6ZpLj5AC8&index=55&list=PL5E016C9746DA0AB1" target="_blank">Rule #38: The Problem The Prospect Brings You Is Never The Real Problem</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=Pce0_hFFtEM&index=56&list=PL5E016C9746DA0AB1" target="_blank">Rule #39: When all else fails, become a consultant</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=7G5EXhc6XZs&index=57&list=PL5E016C9746DA0AB1" target="_blank">Rule #40: Fake It 'Til You Make It </div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=6mMGDlGN5uE&index=58&list=PL5E016C9746DA0AB1" target="_blank">Rule #41: There are no bad prospects </div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=-2bbyQIJHz4&index=59&list=PL5E016C9746DA0AB1" target="_blank">Rule #42: A winner has alternatives, a loser puts all his eggs in one basket</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=LLJGshNl2ec&index=62&list=PL5E016C9746DA0AB1" target="_blank">Rule #43: Every Objection is a Learning Moment </div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=9KSesarXvh8&index=63&list=PL5E016C9746DA0AB1" target="_blank">Rule #44: When your foot hurts, you’re probably standing on your own toe</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=3CANpqwSIi8&index=64&list=PL5E016C9746DA0AB1" target="_blank">Rule #45: Express your feelings through third-party stories</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=SHit3N8zMjc&index=65&list=PL5E016C9746DA0AB1" target="_blank">Rule #46: There is no such thing as a good try</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=cJNeGEsPHN0&index=66&list=PL5E016C9746DA0AB1" target="_blank">Rule #47: Selling is a Broadway play performed by a psychiatrist </div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=seST7NXQspE&index=68&list=PL5E016C9746DA0AB1" target="_blank">Rule #48: A Life Without Risk Is A Life Without Growth</div></TD>
		 <TD><div style="margin:5px"><a href="https://www.youtube.com/watch?v=2ii_F7JeFSE&index=69&list=PL5E016C9746DA0AB1" target="_blank">Rule #49: Leave your child in the car</div></TD>
		 
   </TR>

      </div>
<div style="height:30px"></div>

</div>

</TABLE>

