<div id="reportsdiv" class="container">

     <div class="row">

         <div class="col-title"><span>How can we Help You?  Send an email to support@minedsystems.com or call us at (703) 940-9490</span></div>
           <div style="margin:5px">@Html.ActionLink("Click Here to View our Help Desk Services", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })
		 </div>
                 </div>
<div style="height:30px"></div>

</div>
     
        <div style="margin:5px"><div class="col-title"><span>On Line Training</span></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of How to Login to SPM2</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "My Day"</a></div>
			<div style="margin:15px"><a href="https://www.youtube.com/watch?v=Vfyt3p43EQw&list=PL5E016C9746DA0AB1&index=3" target="_blank">Overview of "My Email"</a></div>
			<div style="margin:15px"><a href="https://www.youtube.com/watch?v=Vfyt3p43EQw&list=PL5E016C9746DA0AB1&index=3" target="_blank">Overview of "My Franchise"</a></div>
			<div style="margin:15px"><a href="https://www.youtube.com/watch?v=Vfyt3p43EQw&list=PL5E016C9746DA0AB1&index=3" target="_blank">Overview of "My QuickStart"</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "My Reports"</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "My CRM"</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "Benchmarks"</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "Sandler Rules"</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "SPM Help"</a></div>
			<div style="margin:15px"><a href="http://youtu.be/l_efiFWIPOA" target="_blank">Overview of "Global Search"</a></div>

         <div class="col-title"><span>SPM Guide</span></div>
           <div style="margin:15px">@Html.ActionLink("Click Here to Open the SPM Guide", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })
		 </div>
         
		 <div class="col-title"><span>Frequently Asked Questions</span></div>
           <div style="margin:15px">@Html.ActionLink("Click Here to Launch the Interactive FAQ Report", "../../Areas/RDL/Report.aspx", new { rpt = "spm 2 - FAQ_WithPara" }, new { target = "_blank" })
		 </div>
		 	 

 
          		



				
      </div>


</div>