@{
    Layout = "";
 }
<style type="text/css">
    .k-grid999 tbody .k-button {
        min-width: 12px;
        width: 50px;
        height: 25px;
        vertical-align: middle;
    }
        
</style>

<div id="ArchivedGoalsMain" class="container">
    @*Search button*@
    <div class="row">
        <div class='page-title'>Archived Goals</div>
    </div>
    
    <br />

    <div class="row" style="margin-top:10px">
        <div class="col-md-6 input-group">
            <input class="form-control" id="ArcsearchBox" size="100" type="text" placeholder="User Name or Year" onkeyup="triggerSearchArc(event);">
            <span class="input-group-btn"> 
                  <button id="btnArchiveSearch" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" title="Quick Search" data-toggle="tooltip"></span></button>
            </span>
        </div>
         @*For Export To Excel*@
        <div class="pull-right">
            <a title="Download a List in Excel" class="btn btn-default btn-xs fileinput-button" href="@Url.Action("ExportArchivedGoals","Home")"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px">
        <div id="searchGrid" class="k-content">
            <div id="ArchGoalsSearchgrid"></div>
        </div>
    </div>

</div>




<script>

    function UnarchivePG(e) {
        e.preventDefault();
        var dataItem = $("#ArchGoalsSearchgrid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        //Let us block the Div while we wait for User response
        $('#ArchivedGoalsMain').block({ message: null });
        showNoti_.confirm("Are you sure to UnArchive this Goal for - " + dataItem.UserName + "?",
              function () {
                  showNoti_.progress(NOTIFICMSG.ARCHIVING, false);
                  //Proceed with the Archive 
                  $.ajax({
                      url: "api/Company/UnArchivePG",
                      type: 'POST',
                      data: ko.toJSON(dataItem),
                      contentType: 'application/json',
                      success: function (result) {
                          if (!result.success) {
                              showNoti_.error(result.message, true);
                              $("#ArchivedGoalsMain").unblock();
                          }
                          else {
                              showNoti_.hide();
                              //refresh the Archived company List
                              RefreshGridArc();
                              //also refresh the Index page
                              RefreshGrid();
                              $("#ArchivedGoalsMain").unblock();
                          }
                      },
                      error: function (xhr, ajaxOptions, thrownError) {
                          showNoti_.error("There is some issue in un-Archiving the Performance Goal. Please try again later.", true);
                          $("#ArchivedGoalsMain").unblock();
                      }
                  });
              },
              function () {
                  //user said no
                  showNoti_.hide();
                  $("#ArchivedGoalsMain").unblock();
              });//confirm ends here

    }

    function RefreshGridArc() {
        $("#btnArchiveSearch").click();
    }//end refresh grid function
    
    function triggerSearchArc(e) {
        var unicode = e.keyCode ? e.keyCode : e.charCode;
        if (unicode == 13) {
            $("#btnArchiveSearch").click();
        }
    }
    
    //Remove sorting for TotalCompanyValue
    function get_kendoGridDataArc(searchText, selectForExcel) {
        var dataSource = get_gridDataSourceArc(searchText, selectForExcel)
        var kendoGridData = {
            dataSource: dataSource,
            height: 560,
            filterable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            resizable: true,
            columnMenu: true,
            scrollable: true,
            navigatable: true,
            selectable: true,
            columns: [
                {
                  command: [
                       { template: "&nbsp;<button title='UnArchive Goal' class='btn btn-danger btn-sm deletesa' onclick='UnarchivePG(event)'><span class='glyphicon glyphicon-ok'></span></button>" }
                    ],
                    title: " ", width: "65px"
                },
                { field: "UserName", title: "User Name", width: 80, attributes: { "class": "sptablecell" } },
                { field: "FirstName", title: "First Name", width: 80, attributes: { "class": "sptablecell" } },
                { field: "LastName", title: "Last Name", width: 80, attributes: { "class": "sptablecell" } },
                { field: "Year", title: "Year", width: 60, attributes: { "class": "sptablecell" } },
                { field: "MonthAsText", title: "Month", width: 80, attributes: { "class": "sptablecell" } },
                { field: "CallsGoal", title: "Calls", width: 40, attributes: { "class": "sptablecell" } },
                { field: "MeetingsGoal", title: "Meetings", width: 40, attributes: { "class": "sptablecell" } },
                { field: "SalesGoal", title: "Sales Value", width: 80, format: "{0:c2}", attributes: { "class": "sptablecell" } }

            ]
        }
        return kendoGridData;
    }

    function get_gridDataSourceArc(searchText, selectForExcel) {
        var dataSource = {
            type: "json",
            transport: {
                read: {
                    url: "api/ArchivePerformanceGoalView/",
                    dataType: "json",
                    data: { searchText: searchText, selectForExcel: false },
                    cache: false //This is required othewise grid does not refresh after Edit operation in IE
                }
            },
            schema: {
                data: "results",
                total: "__count",
                model: {
                    fields: {
                        UserName: { type: 'string' },
                        FirstName: { type: 'string' },
                        LastName: { type: 'string' },
                        Year: { type: 'number' },
                        MonthAsText: { type: 'string' },
                        CallsGoal: { type: 'number' },
                        MeetingsGoal: { type: 'number' },
                        SalesGoal: { type: 'number' }

                    }
                }
            },
            pageSize: 50,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        };
        return dataSource;
    }



</script>

@*Document Ready *@
<script>
    $(document).ready(function () {
        
        @*When Page Loads*@
        var kendoGridData = get_kendoGridDataArc("", false);
        $("#ArchGoalsSearchgrid").kendoGrid(kendoGridData);
        showNoti_.hide();

        /* When Search Button is clicked */
        $("#btnArchiveSearch").click(function () {
            var searchText = $("#ArcsearchBox").attr('value');
            var grid = $("#ArchGoalsSearchgrid").data("kendoGrid");
            var dataSource = get_gridDataSourceArc(searchText, false);
            grid.dataSource.transport.options.read.data = { searchText: searchText, selectForExcel: false };
            grid.dataSource.page(1);
        });

        /* Tooltip */
        $('[data-toggle=tooltip]').tooltip({ placement: 'bottom' });

    });
</script>