@using Sandler.Web.ViewModels;
@using Sandler.DB.Models;
@model EntityViewModel<TBL_OPPORTUNITIES>

<div id="container">
    <div class="row">
        <div class="col-sm-2">
            Company :
        </div>
        <div class="col-sm-9">
            <select data-bind="options: companies, optionsText: 'name', optionsValue: 'id', value: opportunity.COMPANYID, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity ID :
        </div>
        <div class="col-sm-9">
            <input data-bind="value: opportunity.ID, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Name :
        </div>
        <div class="col-sm-9">
            <input data-bind="value: opportunity.NAME, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Description :
        </div>
        <div class="col-sm-9">
            <input data-bind="value: opportunity.Description, disable: isDisabled" textmode="MultiLine">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Notes :
        </div>
        <div class="col-sm-9">
            <input data-bind="value: opportunity.Notes, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Sales Rep Last Name :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.SALESREPLASTNAME, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Sales Rep First Name :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.SALESREPFIRSTNAME, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Sales Rep Phone :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.SALESREPPHONE, disable: isDisabled" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            Product :
        </div>
        <div class="col-sm-2">
            <select data-bind="options: products, optionsText: 'ProductTypeName', optionsValue: 'Id', value: opportunity.ProductID,disable:isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Product Cost:
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.ProductCost, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Status :
        </div>
        <div class="col-sm-2">
            <select data-bind="options: oppStatus, optionsText: 'Name', optionsValue: 'ID', value: opportunity.STATUSID, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Source :
        </div>
        <div class="col-sm-2">            
            <select data-bind="options: oppSource, optionsText: 'Name', optionsValue: 'ID', value: opportunity.SourceID, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Type :
        </div>
        <div class="col-sm-2">
            <select data-bind="options: oppTypes, optionsText: 'Name', optionsValue: 'ID', value: opportunity.TypeID, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Why Lost? :
        </div>
        <div class="col-sm-2">
            <select data-bind="options: whyLosts, optionsText: 'Name', optionsValue: 'ID', value: opportunity.WhyLostID, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Opportunity Value :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.OpportunityValue, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Win Probability % :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.WinProbability, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Weighted Value :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.WeightedValue, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Actual Value :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.ActualValue, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Creation Date :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.CreationDate, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Close Date :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.CloseDate, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Pain :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.Pain, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Length of Problem :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.LengthofProblem, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Alternatives :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.Alternatives, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Cost to Fix :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: opportunity.CostToFix, disable: isDisabled" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Budget Identified?
        </div>
        <div class="col-sm-2">
            <select data-bind="options: budgetIdentified, optionsText: 'Description', optionsValue: 'id', value: opportunity.IsBudgeIdentified, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Move Forward? :
        </div>
        <div class="col-sm-2">
            <select data-bind="options: moveForward, optionsText: 'Description', optionsValue: 'id', value: opportunity.IsMoveForward, disable: isDisabled"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Contacts :
        </div>
        <div class="col-sm-2">
            <input data-bind="value: primaryContact, disable: isDisabled" /><br />
        </div>
    </div>
</div>


<script type="text/javascript">

    var startModule = sandler.appStart.module;
    var pageVM = function (opportunityObservable) {
        var self = this;
        self.opportunity = opportunityObservable;
        self.companies = startModule.getUserCompanies();
        self.products = startModule.getProductTypes();
        self.whyLosts = startModule.getOpportunityWhyLosts();
        self.oppStatus = startModule.getOpportunityStatus();
        self.oppSource = startModule.getOpportunitySources();
        self.oppTypes = startModule.getOpportunityTypes();
        self.budgetIdentified = startModule.getYesNoOptions();
        self.moveForward = startModule.getYesNoOptions();
        self.primaryContact = ko.computed(function () {
            $.each(startModule.getUserContactsByCompany(self.opportunity.COMPANYID()), function (i, contactRecord) {
                if (contactRecord.contactsId == self.opportunity.CONTACTID())
                    return contactRecord.fullName;
            });
        }, self);
        self.isDisabled = ko.observable(true);
    }
    $(document).ready(function () {
        var vm = new pageVM(ko.mapping.fromJS( @Html.Raw(Json.Encode(@Model.EntityModel))));
        console.log(vm.opportunity);
        ko.applyBindings(vm, document.getElementById("container"));

    });
</script>
