
@model Sandler.Web.ViewModels.BaseViewModel

@{
    ViewBag.Title = @Model.PageInfo.title;
}

<style>
    #sidebar > ul { margin: 0 }
    a { cursor: pointer; }
</style>

<dcontent 
    ng-controller="ngAppMainController"
    ng-init="currentHost = 'SandlerCRM'"
    ng-cloak>
    
    <div id="sidebar">
	    <ul>
		    <li ng-repeat="menuGroup in menuDef.menuGroups" ng-class="menuGroup.liClass()"> 

                
			    <a ng-href="{{menuGroup.pagePathC()}}" ng-click="menuGroup.clicked()"> 
                    <i ng-class="menuGroup.iconClass" style="background:none; opacity:1.0"></i> 
                    <span>{{ menuGroup.caption}}</span> 
                    <span class="label" style="font-weight:normal;font-size:small;color:black">{{menuGroup.menuCount()>1 ? menuGroup.menuCount() : ''}}</span>
			    </a>

                
			    <ul ng-if="!menuGroup.itselfMenu()">
				    <li ng-repeat="menuItem in menuGroup.menuItems" ng-class="menuItem.liClass()" >               
                    
                        <a ng-href="{{ menuItem.pagePathC()}}" ng-click="menuItem.clicked()"> 
                            <span>{{ menuItem.caption }}</span>
                        </a>
                    
				    </li>
			    </ul>
		    </li>
	    </ul>		
    </div>

    <div id="content" style="background-color:none; padding-bottom:20px;">
        <ng-view></ng-view>
        
    </div>


    <div class="modal" id="franchiseeSelectionContainer">
	    <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                <h3 id="modal-headerLabel"></h3>
            </div>
            <div id="user_body" class="modal-body">
                <input id="franchiseeSelection" />
            </div>
            <div class="modal-footer">
		        <a id="btnFranchiseeSelect" class="btn btn-sm btn-primary savesa">Select</a>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var startModule = sandler.appStart.module;
        startModule.initialize();

        var currentUser = @Html.Raw(Json.Encode(@Model.CurrentUser));
        startModule.setUser(currentUser);
        
        if(currentUser.Role == 1)
        {
            console.log('Role:' + currentUser.Role);
            var modalOptions = { backdrop: 'static', show: true };
            var modalHeader = 'Select your franchisee';
            $('#modal-headerLabel').text(modalHeader);
            $('#franchiseeSelectionContainer').modal(modalOptions);
            $('#franchiseeSelection').kendoDropDownList(getFranchisees());
            //console.log(startModule.getUserFranchisees());
            function getFranchisees() {                
                return {
                    dataTextField: "Name",
                    dataValueField: "ID",
                    optionLabel: "",
                    dataSource: startModule.getUserFranchisees(),
                    index: 0
                };
            }
            $('#btnFranchiseeSelect').click(function(){
                //alert('Franchisee set');
                startModule.setUserFranchisee($("#franchiseeSelection").val());
                console.log(startModule.getUserFranchisee());
                $('#franchiseeSelectionContainer').modal('hide');
            });
        }
    </script>
</dcontent>


