@{
    Layout = "";
 }
<style type="text/css">
    .k-grid999 tbody .k-button {
        min-width: 12px;
        width: 50px;
        height: 25px;
        vertical-align: middle;
    }
        
</style>

<div id="ArchivedContactMain" class="container">
    @*Search button*@
    <div class="row">
        <div class='page-title'>Archived Contacts</div>
    </div>
    
    <br />

    <div class="row" style="margin-top:10px">
        <div class="col-md-6 input-group">
            <input class="form-control" id="ArcsearchBox" size="100" type="text" placeholder="Contact Last Name or First Name" onkeyup="triggerSearchArc(event);">
            <span class="input-group-btn"> 
                  <button id="btnArchiveSearch" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" title="Quick Search" data-toggle="tooltip"></span></button>
            </span>
        </div>
         @*For Export To Excel*@
        <div class="pull-right">
            <a id="excelDownload" title="Download a List in Excel" class="btn btn-default btn-xs fileinput-button" href="@Url.Action("ExportContact", "Contacts", new { bringArchiveRecords = true })"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px">
        <div id="searchGrid" class="k-content">
            <div id="ArchContactsSearchgrid"></div>
        </div>
    </div>
</div>


<script>

    function UnarchiveContact(e) {
        e.preventDefault();
        var dataItem = $("#ArchContactsSearchgrid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        //Let us block the Div while we wait for User response
        $('#ArchivedContactMain').block({ message: null });
        showNoti_.confirm("Are you sure to UnArchive this Contact - " + dataItem.FullName + "?",
              function () {
                  showNoti_.progress(NOTIFICMSG.ARCHIVING, false);
                  //Proceed with the Archive 
                  $.ajax({
                      url: "api/Contact/UnArchive",
                      type: 'POST',
                      data: ko.toJSON(dataItem),
                      contentType: 'application/json',
                      success: function (result) {
                          if (!result.success) {
                              showNoti_.error(result.message, true);
                              $("#ArchivedContactMain").unblock();
                          }
                          else {
                              showNoti_.hide();
                              //refresh the Archived company List
                              RefreshGridArc();
                              //also refresh the Index page
                              RefreshGrid();
                              $("#ArchivedContactMain").unblock();
                          }
                      },
                      error: function (xhr, ajaxOptions, thrownError) {
                          showNoti_.error("There is some issue in Archiving the Contact. Please try again later.", true);
                          $("#ArchivedContactMain").unblock();
                      }
                  });
              },
              function () {
                  //user said no
                  showNoti_.hide();
                  $("#ArchivedContactMain").unblock();
              });//confirm ends here

    }

    function RefreshGridArc() {
        $("#btnArchiveSearch").click();
    }//end refresh grid function


    function triggerSearchArc(e) {
        var unicode = e.keyCode ? e.keyCode : e.charCode;
        if (unicode == 13) {
            $("#btnArchiveSearch").click();
        }
    }

    //To do
    //Remove sorting for TotalCompanyValue
    function get_kendoGridDataArc(searchText, selectForExcel) {
        var dataSource = get_gridDataSourceArc(searchText, selectForExcel)
        var kendoGridData = {
            dataSource: dataSource,
            height: 480,
            filterable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            resizable: true,
            columnMenu: true,
            scrollable: true,
            navigatable: true,
            selectable: true,
            columns: [
                {
                    command: [
                            { template: "&nbsp;<button title='UnArchive Contact' class='btn btn-danger btn-sm deletesa' onclick='UnarchiveContact(event)'><span class='glyphicon glyphicon-ok'></span></button>" }
                    ],
                    title: " ", width: "20px"
                },
                    { field: "FullName", title: "Name", width: "80px" },
                    { field: "Phone", title: "Phone", width: "80px" },
                    { field: "Email", title: "Email", width: "80px" },
                    { field: "COMPANYNAME", title: "Company", width: "60px" },
                    { field: "ContactsId", hidden: "true" }

            ]
        }
        return kendoGridData;
    }

    function get_gridDataSourceArc(searchText, selectForExcel) {
        var dataSource = {
            type: "json",
            transport: {
                read: {
                    url: "api/ArchiveContactView/",
                    dataType: "json",
                    data: { searchText: searchText, selectForExcel: false },
                    cache: false //This is required othewise grid does not refresh after Edit operation in IE
                }
            },
            schema: {
                data: "results",
                total: "__count",
                model: {
                    fields: {
                        FullName: { type: 'string' },
                        Phone: { type: 'string' },
                        Email: { type: 'string' },
                        COMPANYNAME: { type: 'string' },
                        ContactsId: { type: 'string' }
                    }
                }
            },
            pageSize: 50,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        };
        return dataSource;
    }

</script>

@*Document Ready *@
<script>
    $(document).ready(function () {
        @*When Page Loads*@

        //showNoti_.progress(NOTIFICMSG.PROCESSING, false);

        var kendoGridData = get_kendoGridDataArc("", false);
        $("#ArchContactsSearchgrid").kendoGrid(kendoGridData);
        showNoti_.hide();

        //When Search Button is clicked 
        $("#btnArchiveSearch").click(function () {
            var searchText = $("#ArcsearchBox").attr('value');
            var grid = $("#ArchContactsSearchgrid").data("kendoGrid");
            var dataSource = get_gridDataSourceArc(searchText, false);
            grid.dataSource.transport.options.read.data = { searchText: searchText, selectForExcel: false };
            grid.dataSource.page(1);
        });

        /* Tooltip */
        $('[data-toggle=tooltip]').tooltip({ placement: 'bottom' });

        //Hide any Pines Notify 
        //showNoti_.hide();
        //$("#excelDownload").click(function () {
        //    $(this).attr('href', this.href + '&companyId=' + $('#companiesSelection').val());
        //    alert($(this).attr('href'));
        //    return true;
        //});
    });
</script>