@model dynamic
<script src="~/Scripts/Application/ng-companies.js" type="text/javascript"></script>
<div id="editingContainer">
    
    <span data-bind="text: test" />
    <span data-bind="text:COMPANYNAME" /><br />
    <input type="button" data-bind="click:saveCompany" value="Save" />
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        var companyVM;

        $.ajax({
            url: 'api/Company/Get?id=' + @Model.companyId,
            type: 'GET',
            dataType: 'JSON',
            async:false,
            success: function (result) {
                companyVM = ko.mapping.fromJS(result);
                console.log(companyVM);
            },
            error: function (result) {
                //handle the error, left for brevity
            }
        });

        companyVM.test = ko.observable('test data');
        companyVM.saveCompany = function(){
            alert('Data saving need to implement');
        };
        ko.applyBindings(companyVM, document.getElementById("editingContainer"));
    });
</script>
