@using Sandler.DB.Models;
@using Sandler.Web.Models;
@using Sandler.Web.ViewModels;
@model EntityViewModel<TBL_FRANCHISEE>
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .k-grid999 tbody .k-button {
        min-width: 12px;
        width: 50px;
        height: 25px;
        vertical-align: middle;
    }
</style>

<script src="~/Scripts/Application/ng-franchisees.js" type="text/javascript"></script>

<div id="companyMain" class="container" ng-controller="ng_franchiseesCtrl">
    @*Search button*@
    <div class="row">
        <div class='page-title'>All Sandler Franchisees, Master Franchisees, Coaches and Associates</div>
    </div>
    
    @{ var menusList = @Model.BaseModel.CRMMenu;}
    @if (menusList != null)
    {
        Menu menuEntity = menusList.Find(delegate(Menu menu) { return menu.Title == "HomeOffice"; });
        
        Html.RenderPartial("~/Views/Shared/_CRMMenu.cshtml", menuEntity);
    }

    <br />

    <div class="row" style="margin-top:10px">
        <div class="col-md-6 input-group">
            <input class="form-control" id="searchBox" size="100" type="text" placeholder="Franchisee Name or WorkEmail or Last/First Name" onkeyup="triggerSearch(event);">
            <span class="input-group-btn"> 
                  <button id="btnSearch" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" title="Quick Search" data-toggle="tooltip"></span></button>
            </span>
        </div>
        @*For Export To Excel*@
        <div class="pull-right">
            <a title="Download a List in Excel" class="btn btn-default btn-xs fileinput-button" href="@Url.Action("ExportFranchisee","HomeOffice")"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px">
        <div id="searchGrid" class="k-content">
            <div id="FranchiseeSearchgrid"></div>
        </div>
    </div>
</div>

@*Section for the Access rights : Converting to toLower so that we do not have to worry about the Capital Letter*@
<div>
    @Html.Hidden("SandlerRole", (string)(Model.BaseModel.CurrentUser.Role.ToString()))
</div>