@{
    ViewBag.Title = "Home Page";
}
<h3>
    We suggest the following:</h3>
<div id="chartContainer">
</div>
@section scripts{
    <script type="text/javascript" src="../../Scripts/FusionCharts.js"></script>
    <script type="text/javascript" src="../../Scripts/FusionCharts.jqueryplugin.js"></script>
    <script type="text/javascript" >

        $(document).ready(function () {
            // alert('sending req');
            var url = '/api/chart/1'

            $.ajax({
                url: url,
                dataType: 'json',
                data: {},
                type: 'GET',
                success: function (jsonResult) {
                    alert(jsonResult.chart.Caption);
                    /*
                    $("#chartContainer").insertFusionCharts({
                        swfUrl: "FusionChartLib/Column3D.swf",
                        renderer: 'JavaScript',
                        width: "600",
                        height: "300",
                        id: "myChartId2",
                        dataFormat: "json",
                        dataSource: jsonResult
                    });
                    */
                    $("#chartContainer").insertFusionCharts({
                        swfUrl: "FusionChartLib/MSColumn3D.swf",
                        renderer: 'JavaScript',
                        width: "600",
                        height: "300",
                        id: "myChartId2",
                        dataFormat: "json",
                        dataSource: jsonResult
                    });
                    
                }
            });
            /*
            $.getJSON(url, function (data) {
            $("#chartContainer").insertFusionCharts({
            swfUrl: "FusionChartLib/Column3D.swf",
            renderer: 'JavaScript',
            width: "600",
            height: "300",
            id: "myChartId2",
            dataFormat: "json",
            dataSource: data
            });
            });*/
        });
    </script>
}
