<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SandlerDBEntities" connectionString="metadata=res://*/SandlerEDM.csdl|res://*/SandlerEDM.ssdl|res://*/SandlerEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SandlerDBV2014;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Server.Hostname" value="smtp.gmail.com"/>
    <add key="Server.Port" value="587"/>
    <add key="Server.UseDefaultCredentials" value="false"/>
    <add key="Server.EnableSSL" value="true"/>
    <add key="Server.CredentialsRequired" value="true"/>
    <add key="Server.Username" value="jshahcareer@gmail.com"/>
    <add key="Server.Password" value="N!mda420$0115"/>
    <add key="Server.Host.UploadDirectoryPath" value="C:\Users\jshah\Documents\GitHub\SandlerTrainingDevelopment\SandlerTrainingSLN-2014\Sandler.Web\uploads"/>
    <add key="EmailBackgroundImagePath" value="http://minedsystemsassetmanagement.com/spm2/images/heroAccent.png"/>
    <add key="CampaignEmailResponseURL" value="http://minedsystemsassetmanagement.com/spm2/"/>
    <add key="IntervalMinutes" value="1" />
  </appSettings>
</configuration>