<style>
   
    .panel-heading.panel-sm
    {
        height:23px;
        font-size: 90%;
        padding-top: 3px;
    }
    .panel-body > .row > div[class*='col-']
    {
        font-size: 100%;        
        padding: 2px;
    }
    .panel-body > .row > div[class*='col-'] > p
    {
        margin: 0px;
    }
    .panel
    {
        margin-bottom: 3px;
    }
    .col-title { margin-left: 25px; }
</style>

<div id="dashboard_body">

    <div class="row">

     <div class="col-sm-4">
           <div class="panel panel-default" style="min-height:230px">
                <div class="panel-heading panel-sm">My Task</div>
                <div class="panel-body">
                    
                </div>
            </div>
            
        </div>
            
     <div class="col-sm-8">
           <div class="panel panel-default" style="min-height:230px">
                <div class="panel-heading panel-sm">My Appointments</div>
                <div class="panel-body">
                    
                </div>
            </div>
            
        </div>
      
  </div>

    <br />

    <div class="row">

     <div class="col-sm-4">
           <div class="panel panel-default" style="min-height:230px">
                <div class="panel-heading panel-sm">My Pipeline</div>
                <div class="panel-body">
                    
                </div>
            </div>
            
        </div>
            
     <div class="col-sm-4">
           <div class="panel panel-default" style="min-height:230px">
                <div class="panel-heading panel-sm">My Progress</div>
                <div class="panel-body">
                    
                </div>
            </div>
            
        </div>
        
     <div class="col-sm-4">
           <div class="panel panel-default" style="min-height:230px">
                <div class="panel-heading panel-sm">My Assignments</div>
                <div class="panel-body">
                    
                </div>
            </div>
            
        </div>

      
  </div>
    
</div>