@using Sandler.Web.ViewModels;
@using Sandler.DB.Models;
@model EntityViewModel<TBL_OPPORTUNITIES>

<script src="~/Scripts/Application/ng-quickStart.js" type="text/javascript"></script>
<script src="~/contents/knockout/knockout.mapping-latest.js" type="text/javascript"></script>
<script type="text/javascript">
    var observable = ko.mapping.fromJS( @Html.Raw(Json.Encode(@Model.EntityModel)));
</script>
<div ng-controller="ng_quickStartCtrl">
    <div id="quickStart_body" style="background-color: white; margin-left: 10px; margin-right: 10px">

        @*Page Header*@
        <div class="row page-header">
            <div class="col-sm-8">
                <div class="row">
                    <div class='page-title'><span>QuickStart</span></div>
                </div>
                <div class="row sub-heading">
                    <div class='page-subtitle' data-bind="text: opportunity.pageTitle"></div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <hr />

        @* QuickStart Add/Edit Details *@
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-margin">
                    <div class="col-title"><span>QuickStart Information</span></div>

                    <div class="row">

                        <div class="col-sm-12 no-margin">
                            <form role="form">
                                <div class="form-group" >
                                
                                    <label>Company Name&nbsp;<span class="label label-danger" data-bind='visible: COMPANYNAME.hasError, text: COMPANYNAME.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_CompanyName" maxlength="50" type="text"  class="form-control" data-bind="value: COMPANYNAME"/>
                                    </div>
                                     <label>POC First Name&nbsp;<span class="label label-danger" data-bind='visible: POCFirstName.hasError, text: POCFirstName.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_POCFirstName" maxlength="50" type="text"  class="form-control" data-bind="value: POCFirstName"/>
                                    </div>
                                     <label>POC Last Name&nbsp;<span class="label label-danger" data-bind='visible: POCLastName.hasError, text: POCLastName.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_POCLastName" maxlength="50" type="text"  class="form-control" data-bind="value: POCLastName"/>
                                    </div>
                                    <label>Phone</label>
                                    <div class="controls">
                                        <input id="QS_Phone" class="form-control"  maxlength="50" type="text"  data-bind="value: POCPhone">
                                    </div>
                                     <label>E-mail</label>
                                    <div class="controls">
                                        <input id="QS_Email" class="form-control"  maxlength="50" type="text"  data-bind="value: POCEmail">
                                    </div>
                                     <label>Opportunity Name&nbsp;<span class="label label-danger" data-bind='visible: OppName.hasError, text: OppName.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_OpportunityName" maxlength="50" type="text"  class="form-control" data-bind="value: OppName"/>
                                    </div>
                                     <label>Sales Rep Last Name</label>
                                    <div class="controls" >
                                        <input id="QS_RepLastName"  class="form-control" maxlength="150" type="text"  data-bind="value: SalesRepLastName">
                                    </div>
                                     <label>Sales Rep First Name</label>
                                    <div class="controls">
                                        <input id="QS_RepFirstName" class="form-control"  maxlength="50" type="text"  data-bind="value: SalesRepFirstName">
                                    </div>
                                     <label>Pain&nbsp;<span class="label label-danger" data-bind='visible: Pain.hasError, text: Pain.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_Pain" maxlength="50" type="text"  class="form-control" data-bind="value: Pain"/>
                                    </div>
                                      <label>Length Of Problem?</label>
                                    <div class="controls">
                                        <input id="QS_LengthOfProblem" class="form-control"  maxlength="50" type="text"  data-bind="value: LengthofProblem">
                                    </div>
                                      <label>Alternatives?</label>
                                    <div class="controls">
                                        <input id="QS_Alternatives" class="form-control"  maxlength="7" type="text"  data-bind="value: Alternatives">
                                    </div>
                                     <label>Perceived Cost to Fix?</label>
                                    <div class="controls">
                                        <input id="QS_PerceivedCostToFix" class="form-control"  maxlength="50" type="text"  data-bind="value: CostToFix">
                                    </div>
                                                              

                                </div>

                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label>Notes</label>
                                <div class="controls">
                                    <textarea id="QS_Notes" maxlength="100" type="text" class="form-control col-md-12" rows="5" data-bind="value: opportunity.Notes" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-md-6 no-margin">
                    <div class="col-title"><span>Opportunity Details</span></div>

                    <div class="row">

                        <div class="col-sm-6 no-margin">
                            <form role="form">
                                <div class="form-group">
                                     <label>Budget Identified?</label>
                                     <div class="controls">
                                        <input id="QS_BudgetIdentified" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: IsBudgeIdentifiedInt }"/>
                                     </div>
                                     <label>Move Forward?</label>
                                     <div class="controls">
                                        <input id="QS_MoveForward" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: IsMoveForwardInt }"/>
                                     </div>
                                     <label>Product&nbsp;<span class="label label-danger" data-bind='visible: ProductID.hasError, text: ProductID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_Product" type="text" data-bind="kendoDropDownList: { dataTextField: 'ProductTypeName', dataValueField: 'Id', data: products, value: ProductID, optionLabel : 'Please Select..' }"/>                                    
                                     </div>
                                     <label>Opportunity Status&nbsp;<span class="label label-danger" data-bind='visible: OppStatusID.hasError, text: OppStatusID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_OppStatus" type="text" data-bind="kendoDropDownList: { dataTextField: 'Name', dataValueField: 'ID', data: oppStatuses, value: OppStatusID, optionLabel : 'Please Select..' }"/>
                                     </div>
                                     <label>Opportunity Source&nbsp;<span class="label label-danger" data-bind='visible: OppSourceID.hasError, text: OppSourceID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_OppSource" type="text" data-bind="kendoDropDownList: { dataTextField: 'Name', dataValueField: 'ID', data: oppSources, value: OppSourceID, optionLabel : 'Please Select..' }"/>
                                     </div>
                                     <label>Opportunity Type&nbsp;<span class="label label-danger" data-bind='visible: OppTypeID.hasError, text: OppTypeID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_OppType" type="text" data-bind="kendoDropDownList: { dataTextField: 'Name', dataValueField: 'ID', data: oppTypes, value: OppTypeID, optionLabel : 'Please Select..' }"/>
                                     </div>
                                     <label>Estimated Opportunity Value&nbsp;<span class="label label-danger" data-bind='visible: Value.hasError, text: Value.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_EstOppValue" maxlength="50" type="text" class="form-control" data-bind="value: Value"/>
                                    </div>
                                     <label>Next Step</label>
                                    <div class="controls" >
                                        <input id="QS_NextStep"  class="form-control" maxlength="150" type="text"  data-bind="value: ActionStep">
                                    </div>
                                    <label>New Appointment?</label>
                                     <div class="controls">
                                        <input id="QS_NewApp" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: IsNewAppointmentInt }"/>
                                     </div>
                                     <label>Appointment Source&nbsp;<span class="label label-danger" data-bind='visible: ApptSourceID.hasError, text: ApptSourceID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_AppSource" type="text" data-bind="kendoDropDownList: { dataTextField: 'ApptSourceName', dataValueField: 'ApptSourceId', data: appSources, value: ApptSourceID, optionLabel : 'Please Select..' }"/>
                                     </div>                                 
                                
                                </div>
                            </form>
                        </div>
                    
                        <div class="col-sm-6 no-margin">
                            <form role="form">
                                <div class="form-group">
                                      <label>Registered for Training?</label>
                                     <div class="controls">
                                        <input id="QS_RegForTraining" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: IsRegisteredForTrainingInt }"/>
                                     </div>
                                     <label>Course Type&nbsp;<span class="label label-danger" data-bind='visible: CourseTypeID.hasError, text: CourseTypeID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_CourseType" type="text" data-bind="kendoDropDownList: { dataTextField: 'CourseName', dataValueField: 'CourseId', data: courseTypes, value: CourseTypeID, optionLabel : 'Please Select..' }"/>
                                     </div> 
                                     <label>Course Training Date&nbsp;<span class="label label-danger" data-bind='visible: CourseTrainingDatec.hasError, text: CourseTrainingDatec.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_CourseTrainingDate" style="max-width:180px;" maxlength="10" type="text" class="form-control" data-bind="kendoDatePicker: CourseTrainingDatec"/>
                                    </div>

                                     <label>Training Course Name&nbsp;<span class="label label-danger" data-bind='visible: TrainingCourseName.hasError, text: TrainingCourseName.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_TrainingCourseName" maxlength="50" type="text" class="form-control" data-bind="value: TrainingCourseName"/>
                                    </div>
                                      <label>Class Head Count&nbsp;<span class="label label-danger" data-bind='visible: HowManyAttended.hasError, text: HowManyAttended.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_ClassHeadCount" maxlength="50" type="text" class="form-control" data-bind="value: HowManyAttended"/>
                                    </div>
                                     <label>New Company?</label>
                                     <div class="controls">
                                        <input id="QS_NewCompany" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: IsNewCompanyInt }"/>
                                     </div>
                                      <label>Industry&nbsp;<span class="label label-danger" data-bind='visible: IndustryId.hasError, text: IndustryId.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_Industry" type="text" data-bind="kendoDropDownList: { dataTextField: 'IndustryTypeName', dataValueField: 'IndId', data: industries, value: IndustryId, optionLabel : 'Please Select..' }"/>
                                     </div>
                                  
                                      <label>Next Contact Date</label>
                                    <div class="controls">
                                         <input id="company_nextContactDate" style="max-width:180px;" maxlength="10" type="text" class="form-control" data-bind="kendoDatePicker: NextContactDatec"/>
                                    </div>

                                      <label>Est. Opportunity Close Date&nbsp;<span class="label label-danger" data-bind='visible: OppCloseDatec.hasError, text: OppCloseDatec.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_EstOppCloseDate" style="max-width:180px;" maxlength="10" type="text" class="form-control" data-bind="kendoDatePicker: OppCloseDatec"/>
                                    </div>
                              


                                </div>
                            </form>
                        </div>
                    
                    </div>

                </div>
            </div>

            @* Page Footer *@
            <div class="row page-footer">
                <div class="pull-left">
                    <span data-bind="visible: IsSaved" style="color: red">3-In-1 Record Created Successfully!</span>
                </div>
                <div class="pull-right">
                    <button id="bt_cancel_evt" class="btn btn-danger btn-cancel" type="button">Clear</button>
                    <button id="bt_save_evt" class="btn btn-primary btn-save" type="button" data-bind="enable: isDirty, click: Save">Save</button>
                </div>
            </div>

        </div>

    </div>
</div>
