@using Sandler.Web.ViewModels;
@using Sandler.DB.Models;
@model EntityViewModel<TBL_OPPORTUNITIES>

<script src="~/Scripts/Application/ng-quickStart.js" type="text/javascript"></script>
<script src="~/contents/knockout/knockout.mapping-latest.js" type="text/javascript"></script>
<script type="text/javascript">
    var observable = ko.mapping.fromJS( @Html.Raw(Json.Encode(@Model.EntityModel)));
    var scenario = '';
</script>
<div ng-controller="ng_quickStartCtrl">
    <div id="quickStart_body" style="background-color: white; margin-left: 10px; margin-right: 10px">

        @*Page Header*@
        <div class="row page-header">
            <div class="col-sm-8">
                <div class="row">
                    <div class='page-title'><span>QuickStart - New Customer</span></div>
                </div>
                <div class="row sub-heading">
                    <div class='page-subtitle' data-bind="text: pageTitle"></div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <hr />

        @* QuickStart Add/Edit Details *@
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-margin">
                    <div class="col-title"><span>QuickStart Information</span></div>

                    <div class="row">

                        <div class="col-sm-12 no-margin">
                            <form role="form">
                                <div class="form-group" >
                                
                                    <label>Company Name&nbsp;<span class="label label-danger" data-bind='visible: companyObservable.COMPANYNAME.hasError, text: companyObservable.COMPANYNAME.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_CompanyName" maxlength="50" type="text"  class="form-control" data-bind="value: companyObservable.COMPANYNAME"/>
                                    </div>
                                     <label>POC First Name&nbsp;<span class="label label-danger" data-bind='visible: companyObservable.POCFirstName.hasError, text: companyObservable.POCFirstName.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_POCFirstName" maxlength="50" type="text"  class="form-control" data-bind="value: companyObservable.POCFirstName"/>
                                    </div>
                                     <label>POC Last Name&nbsp;<span class="label label-danger" data-bind='visible: companyObservable.POCLastName.hasError, text: companyObservable.POCLastName.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_POCLastName" maxlength="50" type="text"  class="form-control" data-bind="value: companyObservable.POCLastName"/>
                                    </div>
                                    <label>Phone</label>
                                    <div class="controls">
                                        <input id="QS_Phone" class="form-control"  maxlength="50" type="text"  data-bind="value: companyObservable.POCPhone">
                                    </div>
                                     <label>E-mail</label>
                                    <div class="controls">
                                        <input id="QS_Email" class="form-control"  maxlength="50" type="text"  data-bind="value: companyObservable.POCEmail">
                                    </div>
                                     <label>Opportunity Status&nbsp;<span class="label label-danger" data-bind='visible: opportunity.STATUSID.hasError, text: opportunity.STATUSID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_OppStatus" type="text" data-bind="kendoDropDownList: { dataTextField: 'Name', dataValueField: 'ID', data: oppStatus, value: opportunity.STATUSID, optionLabel: 'Please Select..' }"/>
                                     </div>
                                     <label>Opportunity Name&nbsp;<span class="label label-danger" data-bind='visible: opportunity.NAME.hasError, text: opportunity.NAME.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_OpportunityName" maxlength="50" type="text"  class="form-control" data-bind="value: opportunity.NAME"/>
                                    </div>
                                    <label>Sales Rep&nbsp;<span class="label label-danger" data-bind='visible: opportunity.salesRepId.hasError, text: opportunity.salesRepId.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_SalesRep" type="text" data-bind="kendoDropDownList: { dataTextField: 'fullName', dataValueField: 'id', data: salesReps, value: opportunity.salesRepId, optionLabel: 'Please Select..' }"/>
                                     </div>
                                     <label>Pain&nbsp;<span class="label label-danger" data-bind='visible: opportunity.Pain.hasError, text: opportunity.Pain.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_Pain" maxlength="50" type="text"  class="form-control" data-bind="value: opportunity.Pain"/>
                                    </div>
                                      <label>Length Of Problem?</label>
                                    <div class="controls">
                                        <input id="QS_LengthOfProblem" class="form-control"  maxlength="50" type="text"  data-bind="value: opportunity.LengthOfProblem">
                                    </div>
                                      <label>Alternatives?</label>
                                    <div class="controls">
                                        <input id="QS_Alternatives" class="form-control"  maxlength="7" type="text"  data-bind="value: opportunity.Alternatives">
                                    </div>
                                     <label>Perceived Cost to Fix?</label>
                                    <div class="controls">
                                        <input id="QS_PerceivedCostToFix" class="form-control"  maxlength="50" type="text"  data-bind="value: opportunity.CostToFix">
                                    </div>
                                                              

                                </div>

                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label>Notes</label>
                                <div class="controls">
                                    <textarea id="QS_Notes" maxlength="100" type="text" class="form-control col-md-12" rows="5" data-bind="value: opportunity.Notes" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-md-6 no-margin">
                    <div class="col-title"><span>Opportunity Details</span></div>

                    <div class="row">

                        <div class="col-sm-6 no-margin">
                            <form role="form">
                                <div class="form-group">
                                     <label>Budget Identified?</label>
                                     <div class="controls">
                                        <input id="QS_BudgetIdentified" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: opportunity.IsBudgeIdentified }"/>
                                     </div>
                                     <label>Move Forward?</label>
                                     <div class="controls">
                                        <input id="QS_MoveForward" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: opportunity.IsMoveForward }"/>
                                     </div>
                                     <label>Product&nbsp;<span class="label label-danger" data-bind='visible: opportunity.ProductID.hasError, text: opportunity.ProductID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_Product" type="text" data-bind="kendoDropDownList: { dataTextField: 'ProductTypeName', dataValueField: 'Id', data: products, value: opportunity.ProductID, optionLabel : 'Please Select..' }"/>                                    
                                     </div>
                                     <label>Opportunity Source&nbsp;<span class="label label-danger" data-bind='visible: opportunity.SourceID.hasError, text: opportunity.SourceID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_OppSource" type="text" data-bind="kendoDropDownList: { dataTextField: 'Name', dataValueField: 'ID', data: oppSources, value: opportunity.SourceID, optionLabel : 'Please Select..' }"/>
                                     </div>
                                     <label>Opportunity Type&nbsp;<span class="label label-danger" data-bind='visible: opportunity.TypeID.hasError, text: opportunity.TypeID.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_OppType" type="text" data-bind="kendoDropDownList: { dataTextField: 'Name', dataValueField: 'ID', data: oppTypes, value: opportunity.TypeID, optionLabel : 'Please Select..' }"/>
                                     </div>
                                     <label>Estimated Opportunity Value&nbsp;<span class="label label-danger" data-bind='visible: opportunity.VALUE.hasError, text: opportunity.VALUE.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_EstOppValue" maxlength="50" type="text" class="form-control" data-bind="value: opportunity.VALUE"/>
                                    </div>
                                    <label>Win Probability Percent&nbsp;<span class="label label-danger" data-bind='visible: opportunity.WINPROBABILITY.hasError, text: opportunity.WINPROBABILITY.validationMessage'></span></label>                  
                                    <div class="controls">
                                         <input id="QS_WinProbabilityPercent" maxlength="50" type="text" class="form-control" data-bind="value: opportunity.WINPROBABILITY"/>
                                    </div>
                                    <label>Weighted Opportunity Value</label>                  
                                    <div class="controls">
                                         <input id="QS_WeightedOpportunityValue" maxlength="50" type="text" class="form-control" data-bind="enable: false,value: opportunity.WEIGHTEDVALUE"/>
                                    </div>
                                     <label>Next Step&nbsp;<span class="label label-danger" data-bind='visible: contactObservable.ACTIONSTEP.hasError, text: contactObservable.ACTIONSTEP.validationMessage'></span></label>
                                    <div class="controls" >
                                        <input id="QS_NextStep"  class="form-control" maxlength="150" type="text"  data-bind="value: contactObservable.ACTIONSTEP">
                                    </div>                                  
                                      <label>Next Contact Date&nbsp;<span class="label label-danger" data-bind='visible: contactObservable.NextContactDatec.hasError, text: contactObservable.NextContactDatec.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_NextContactDate" style="max-width:180px;" maxlength="10" type="text" class="form-control" data-bind="kendoDatePicker: contactObservable.NextContactDatec"/>
                                    </div>                                
                                </div>
                            </form>
                        </div>
                    
                        <div class="col-sm-6 no-margin">
                            <form role="form">
                                <div class="form-group">                                    
                                    <label>New Appointment?</label>
                                     <div class="controls">
                                        <input id="QS_NewApp" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: contactObservable.IsNewAppointment }"/>
                                     </div>
                                     <label>Appointment Source&nbsp;<span class="label label-danger" data-bind='visible: contactObservable.ApptSourceId.hasError, text: contactObservable.ApptSourceId.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_AppSource" type="text" data-bind="kendoDropDownList: { dataTextField: 'ApptSourceName', dataValueField: 'ApptSourceId', data: appSources, value: contactObservable.ApptSourceId, optionLabel: 'Please Select..' }"/>
                                     </div>    
                                      <label>Registered for Training?</label>
                                     <div class="controls">
                                        <input id="QS_RegForTraining" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: contactObservable.IsRegisteredForTraining }"/>
                                     </div>
                                     <label>Course Type&nbsp;<span class="label label-danger" data-bind='visible: contactObservable.CourseId.hasError, text: contactObservable.CourseId.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_CourseType" type="text" data-bind="kendoDropDownList: { dataTextField: 'CourseName', dataValueField: 'CourseId', data: courseTypes, value: contactObservable.CourseId, optionLabel : 'Please Select..' }"/>
                                     </div> 
                                     <label>Course Training Date</label>
                                    <div class="controls">
                                         <input id="QS_CourseTrainingDate" style="max-width:180px;" maxlength="10" type="text" class="form-control" data-bind="kendoDatePicker: contactObservable.CourseTrainingDatec"/>
                                    </div>

                                     <label>Training Course Name&nbsp;<span class="label label-danger" data-bind='visible: contactObservable.TrainingCourseName.hasError, text: contactObservable.TrainingCourseName.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_TrainingCourseName" maxlength="50" type="text" class="form-control" data-bind="value: contactObservable.TrainingCourseName"/>
                                    </div>
                                      <label>Class Head Count&nbsp;<span class="label label-danger" data-bind='visible: contactObservable.HowManyAttended.hasError, text: contactObservable.HowManyAttended.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_ClassHeadCount" maxlength="50" type="text" class="form-control" data-bind="value: contactObservable.HowManyAttended"/>
                                    </div>
                                     <label>New Company?</label>
                                     <div class="controls">
                                        <input id="QS_NewCompany" type="text" data-bind="kendoDropDownList: { dataTextField: 'Description', dataValueField: 'Value', data: yesNoData, value: companyObservable.IsNewCompany }"/>
                                     </div>
                                      <label>Industry&nbsp;<span class="label label-danger" data-bind='visible: companyObservable.IndustryId.hasError, text: companyObservable.IndustryId.validationMessage'></span></label>
                                     <div class="controls">
                                        <input id="QS_Industry" type="text" data-bind="kendoDropDownList: { dataTextField: 'IndustryTypeName', dataValueField: 'IndId', data: industries, value: companyObservable.IndustryId, optionLabel : 'Please Select..' }"/>
                                     </div>
                                      <label>Est. Opportunity Close Date&nbsp;<span class="label label-danger" data-bind='visible: opportunity.OppCloseDatec.hasError, text: opportunity.OppCloseDatec.validationMessage'></span></label>
                                    <div class="controls">
                                         <input id="QS_EstOppCloseDate" style="max-width:180px;" maxlength="10" type="text" class="form-control" data-bind="kendoDatePicker:opportunity.OppCloseDatec"/>
                                    </div>
                              


                                </div>
                            </form>
                        </div>
                    
                    </div>

                </div>
            </div>

            @* Page Footer *@
            <div class="row page-footer">
                <div class="pull-left">
                    <span data-bind="visible: IsSaved" style="color: red">3-In-1 Record Created Successfully!</span>
                </div>
                <div class="pull-right">
                    <button id="bt_cancel_evt" class="btn btn-danger btn-cancel" type="button" data-bind="">Clear</button>
                    <button id="bt_save_evt" class="btn btn-primary btn-save" type="button" data-bind="enable: isDirty, click: Save">Save</button>
                </div>
            </div>

            <div class="modal" id="saveEditContainer">
	            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                            <h3 id="modal-headerLabel"></h3>
                        </div>
                        <div id="user_body" class="modal-body">
                            <p>
                                This Company already exists. Click "Save" to continue and update the Contact and Opportunity records for this company with the information you have provided. <a class="btn btn-sm btn-primary savesa" data-bind="click:editSave">Save</a>
                            </p>
                            <p>
                                This Company already exists. Click "Edit" to go back and edit the Company Name for this record before saving.<a class="btn btn-sm btn-primary savesa" data-bind="click: hideEditContainer">Edit</a>
                            </p>
                        </div>
                        <div class="modal-footer">
		        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="meetingInviteContainer">
	            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>                            
                        </div>
                        <div id="meetingInviteBody" class="modal-body">
                            <p>
                                Would you like to send a meeting invite to the company Point of Contact now?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-bind="click: sendInvite">Yes</a>
                            <a href="#" class="btn" data-bind="click: denySendInvite">No</a>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="newEntryResponseContainer">
	            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>                            
                        </div>
                        <div id="newEntryResponseBody" class="modal-body">
                            <p>
                                Would you like to create another opportunity for this same company at this time?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-bind="click: createAnotherOpportunity">Yes</a>
                            <a href="#" class="btn" data-bind="click: denyCreateAnotherOpportunity">No</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    
</div>
