._ajaxified_timepicker
{
	z-index: 812346;
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

._ajaxified_timepicker_default
{
	border-width: 1px;
	border-style: solid;
	background-color: White;
	font-family: tahoma, verdana, helvetica;
	font-size: 11px;
}


#_ajaxified_timepicker_curtain
{
	z-index: 812345;
	visibility: hidden;
	background: #333;
	opacity: 0.10;
	filter: alpha(opacity=10);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

._ajaxified_timepicker ._ajaxified_timepicker_header
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

._ajaxified_timepicker ._ajaxified_timepicker_header_default
{
	border-bottom: 1px solid;
}


._ajaxified_timepicker ._ajaxified_timepicker_title
{
	vertical-align: middle;
	margin: 3px;
	padding: 2px;
	width: 80px;
}

._ajaxified_timepicker ._ajaxified_timepicker_title_default
{
	font-weight: bold;
}


._ajaxified_timepicker ._ajaxified_timepicker_closeButton
{
	cursor: pointer;
	float: right;
}

._ajaxified_timepicker ._ajaxified_timepicker_basictab
{
	vertical-align: middle;
}

._ajaxified_timepicker ._ajaxified_timepicker_basictab ul
{
	float: left;
	width: 100%;
	list-style: none;
	margin: 5px 5px -1px 5px;
	padding: 0px;
	list-style-type: none;
	text-align: left;
}

._ajaxified_timepicker ._ajaxified_timepicker_basictab li
{
	float: left;
	cursor: pointer;
}

._ajaxified_timepicker ._ajaxified_timepicker_basictab li span
{
	cursor: pointer;
	margin-right: 3px;
	margin-left: 3px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}

._ajaxified_timepicker ._ajaxified_timepicker_tab
{
	border: 1px solid;
}

._ajaxified_timepicker ._ajaxified_timepicker_selectedtab
{
	background-color: #EDF9FF;
	color: #0066CC;
	border: 1px solid;
}

._ajaxified_timepicker ._ajaxified_timepicker_item
{
	cursor: pointer;
	margin: 0px;
	padding: 2px;
}

._ajaxified_timepicker ._ajaxified_timepicker_item:hover
{
	background-color: #EDF9FF;
	color: #0066CC;
}

._ajaxified_timepicker ._ajaxified_timepicker_selected_item
{
	background-color: #EDF9FF;
	color: #0066CC;
	border: 1px solid #0066CC;
}

._ajaxified_timepicker_selected_error
{
	background-color: #FDDFEF;
	border: 1px solid Red;
}


